body { background-color: white;  font-family: 'Noto Serif', serif;}
h1,h2,h3,h4,h5,h6 { font-family: 'Poppins', sans-serif;  font-weight: 600; color: black !important;}
p {color: black; font-family: 'Poppins', sans-serif; font-weight: 400;  }
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('assets/images/IMG_2147.JPG');
  min-height: 100%;
}
.portfolio_cards {
  border-radius: 15px;
  width: 100%;
}
.w3-bar.w3-card {
    box-shadow: none !important;
    color: #457b9d;
  }
.w3-bar .w3-bar-item:hover {
    background-color: #457b9d; /* Light blue background on hover */
    color: #457b9d; /* Dark blue text on hover */
}
.w3-custom-border {
    border-radius: 20px;
    border-width: 20cm;
    border-color: #1d3557 !important; /* Your chosen color */
  }
  .custom-name::after {
  content: 'Sisodiya';
  color: #E63946; /* Your chosen color */
}
.w3-image-container {
  width: 100%;
  /* height: 300px; */
  margin-bottom: 0px; /* Adjusted for consistency with your request */
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Ensures the border radius applies to the image as well */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6); /* Shadow effect for 3D appearance */
  background-image: url('assets/images/portfolio.jpg'); /* Replace with your image URL */
  background-size: cover; /* This will cover the entire container */
  background-position: center; /* This will center the background image */
}
.w3-image-container2 {
  width: 100%;
  height: 150px;
  margin-bottom: 5px; /* Adjusted for consistency with your request */
  color: #1d3557; /* This color setting affects the text color inside the container */
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Ensures the border radius applies to the image as well */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6); /* Shadow effect for 3D appearance */
}
.responsive-image {
  width: 100%;
  height: auto;
  display: block; /* Ensures the image fits nicely within the container */
  object-fit: cover; /* Adjusts the image size to cover the container, might crop the image */
  /* Removed the border-radius here, applied to the container instead for a consistent look */
}