* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Fira Sans", "Noto Sans", "Arimo", "Gudea", "Overpass", "Ubuntu", "Oxygen", "Inter", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

h3 {
  color: #ddd;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  padding-left: 29%;
  padding-right: 29%;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
  width: 20%;
}

/* Middle column */
.column.middle {
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

.fa {
  padding: 5px;
  font-size: 40px;
  width: 25px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.5;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {

  color: black;
}

/* Twitter */
.fa-twitter {

  color: black;
}

/* linkedin */
.fa-linkedin {

  color: black;
}

/* github */
.fa-github {

  color: black;
}

/* google scholar */
.fa-graduation-cap {

  color: black;
}

/* Email */
.fa-envelope {

  color: black;
}